@model IEnumerable<HackerNewsMVC.Models.StoryModel>

@{
        ViewData["Title"] = "Home Page";
    }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.by)
        </td>
        <td>
            @Html.ActionLink(item.title, "Details", new { id = item.id })
        </td>
    </tr>
    }
</table>