@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

                                                @*%*OHHHHH YYYYYEEEAHHH*%*@
@*//%*%*####################%%%%%%%WWWWWWWWMWWMWMMMMMMMMMMMMMMMMMxxxxxxxxxxxxxxxxxxxxn#**iii**;i;i;:ii*ii*innxnxnxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
//###################%%%%%%%%WWWWWMWWMMMMMMMMMMMMMMMMMMMMxxxxxxxxxxxxxxxxxxxxxxz**ii;;,:ii;::;ii:i**i+nnnnnnnnxnnnnxnxxnxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
//##################%%%%%%%%WWWWWWMMMMMMMMMMMMMMMMMxMMMMxxxxxxxxxxxxxxxxxxxxxxxz+i;;;:ii*ii;::ii;*i*i;nnnnnnnnnnnnnnnnnxxnxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
//#################%%%%%%WWWWWWWWMMMMMMMMMMMMMMMMMxxMMxxxxxxxxxxxxxxxxxxxxxxxxx#+i*;;;:,;;;::iii*i***;*nnnnnnnnnnnnnnnnnnxnxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
//################%%%%%%WWWWWWWWWMMMMMMMMMMMMMMMMxMxxxxxxxxxxxxxxnxxxxxxxxxxxxn#+i#*;,:iii;;;*;;*****i;#nnnnnnnnnnnnnnnnnnnxxxxxxxxxxxnnnnxxxxxxxxxxxxxx
//##############%%%%%%%%%WWWWWWWMWMMMMMMMMMMMMMxxxxxxxxxxxxxxxxxxnnnnnxxxxxnxxn++i;ii;;:ii;i::ii;;i;**;innnnnnnnnnnnnnnnnnnnnxxxxnnxxxxnnnnnxxxxnxxxxxxx
//#############%%%%%%%%W%WWWWWMMMMMMMMMMMMMxMxxxxxxxxxxxxxxxxxnnnnnnnnnnnnnnnnz++*;;i:ii*i:;;iiiii*iiii;#nnnnnnnnnnnnnnnnnnnnnnxxxxxxxnnnnnnnxnnnxxxxxxx
//###########%%%%%%%%%WWWWWWWWMMMMMMMMMMMMMMxMxxxxxxxxxxxxxnnxnnnnnnnnnnnnnnnnz+**;*ii;:*#i;iii:iii**i**innnnnnnnnnnnnnnnnnnnnxxxxnxxnnnnnnnnnxxxxxxxxxx
//###########%%%%%%%%WWWWWWWWMMMMMMMMMMMMxMMxxxxxxxxxxxnnnxxnnnnnnnnnnnnnnnnnnz#++i*ii;,:*i;:;*iii*****ii#nnnnnnnnnnnnnnnnnnnnxxnnxxxnnnnnnnnnxxxxxxxxxx
//##########%%%%%%%%WWWWWWWWMMMMMMMMMMMMxxxxxxxxxxxxxxxnnnnnnnnnnnnnnnnnnnnnnnz++**+i*;,;*i;::ii;i*******innnnnnnnnzznznnnnnnxnxxnnxxnnnnnnnxxxxxxxxxxxx
//#########%%%%%%%%WWWWWWMMMMMMMMMMMMMxxxxxxxxxxxxxnnxnnnnnnnnnnnnnnnnnnnnnnnz#+++**iii:;i;;;;iiiii***++*i#nnnnzzi:::;#WWnnnnxxxxxxxxxxxxxnnxxxxxxxxxxxx
//########%%%%%%%%WWWWWMMMMMMMMMMMMMMMMxxxxxxxxxxxxnnnnnnnnnnnnnnnnnnnnnnnnnnz++*****i;,:ii:::**ii;**++z#i+nzxxn:;;;;;nWW*nnnxxxxxxxxxxxxxxxxxxxxxxxxxxx
//########%%%%%%%WWWWWWMMMMMMMMMMMMxxxxxMxxxxxxxxxxxnnnnnnnnnnnnnnnnnnnnnnnnnz#++****ii;:i**i:;i;i***+###+*xWzx%+;;;;i%n%#iznnnnnnnnnnnxxnxxxxxxxxxxxxxx
//#######%%%%%%%WWWWWWMMMMMMMMMMMxxxxxxxxxxxxxxxxxxxnnnnnnnnnnnnnnnnnnnnnnnnnz#++*+i**i;:;*;::;i;ii**+##zz+#%n%**#iinnnnnnnnnnnnnnxxxxxxxxxxxxx*%
%*######%%%%%%%%WWWWWMMMMMMMMxMMxxxxxxxxxxxxxxxxxxxxnnnnnnnnnnnznnnnnnzznznznz#+#+*i**i::;**i:i**+*++#zzz#;+M*iWWi;i;zWiM#i;*xnnnnnnnnnnnnnnnnnnnxxxxxxx
#####%%%%%%%%WWWWWMMMMMMMxxxxxxxxxxxxxxxxxxxxxxxxnnnnnnnnnnnnnzzznnzzzzzzzz##++**i;*i*;iii;:;i;*+###zz*;ix%i;x%+i;;Wx;MMiiixnzzzznnzznnnnnnnnnnnnnnxxn*%
%*#####%%%%%%%WWWWWMMMMMxMxxxxxxxxxxxxxxxxxxxxxxxxxnnnnnnnnnnnnnzzzzzzzzzzzzz###++*i:;*ii#nxxMMWMMMnMz+;;;+%zii#%ni;#%*inM;i*Wxzzzznnzzzzznnnnnnnnnnnxnn*%
    %*####%%%%%%%WWWWWWMMMMMxxxxxxxxxxxxxxxxxxxxxxxxxxxxnnnnnnnnnnnnzzzzzzzzzzzzzz###+**#nWW%W%##%#MW%WM#;;iiiWWi;i**Mi*Mx;iz%ii+M%zznnzznnnnnnnnnnnnnnnnnnx
%*####%%%%%%%WWWWMMMMMMMxxxxxxxxxxxxxxxxxxxxxxxxxxxxnnnnnnnnnnnnzzzzzzzzzzzz####+#x%%%%x%W%#####WM+;;iii+MW+**zx%%W%Mii;#%i*x%n#nnnnznnnnnnnnnnnnxnxxnnx*
%*###%%%%%%WWWWWMMMMMMMxxxxxxxxxxxxxxxxxxnxxxxxxxnnnnnnnnnnnnnnzzzzz#zzzzzzzzz#nW%#%%%%W%%%WMW%%W%W+i+nM%n+**+zMWWz+iiii#**z%%**znznznnnnnnnnnnxxxxxxxxx
//    ##%%%%%%%WWWWWMMMMMMMxxxxxxxxxxxxnnnnnnnnnxnxnnnnnnnnnnnzzzznnzzzz###zzzzz##M##WMx#xx++*iiiMWxxW%%M%x#*ii**++*iiiiiii;x%M%W%*iznznzznnnnnnnnnnxxxxxxxx
//    #%%%%%%%WWWWWWWMMMMMxxxxxxxnnnxxnnnnnnnnnnnnnnnnnnnnnnnnnznzzzzz######zz###M%%xWx+;;;;;;*zM#x#+*#nWn************iiiiii%%%n+%*i#zzzzzznnnnnnnnnnnxxxxxx
//    #%%%%%%%WWWWWMMMMMxxxxxxxnnnnxxnnnnnnnnnnnnnnnnnnnnnnnnzzzzz#zzz###zxW%%%**zMMx+;;;;i+#xxxxnzzz+*z*ii+++********i*iii*xx*i*x*i*zzzzzzzzzznnnnnnnxnxxxx
//    %%%%%%%%WWWWMMM#:;nxxxxxi,.*nnnnnnnnnnnnnnnnnnnnnnnnnnnnziM%MxxxMW%%WMnM%zin%xi;i*zxxnzz#++#n:x;:M.`##+zxxz#z++*+****iiiiii%*;izzzzzzzzzzznnnnnnnnxxxx
//    %%%%%%WWWWWWMMx....nxxxn,.,,*nnnnnnnnnnnnnnnnnnnnnnnzzzzzn%%M+#nz#+*ii;##W+%%n#MWxz#i*nMz*;;z++iz*,z#;+nMW%Wzn##+*+**i*iii+x;iiMzzzzzzzzzznnnnnnnxnxxx
//    %%%%%%WWWWMMMMz`..,,nxxn:,,:,znnnnnnnnnnnnnnnnnnnnnnzznzzW%%%n+*+**znnMW%WMW%MMn+##:*x##MMzi;n*+n++.  i+#%##%Wxz#++******ixM;iiMxzzzzzzzznnnnnnnnnnnnn
//    %%%%%WWWWMMMMMM:..:,;xxxi,:::*nnnnnnnnnnnnnnnnnnnnnnnnzzzxMW%M%%%%%%WMxn##zMxz+x;n;in*:::,*nn+nnx#.`  :znM###%MM#z*+*+*+*n%#*#n%xzzzzzzzzznnnnnnnnnnnn
//    %%%%WWWWWMMMMMMz.,,:,*xx#::;;;nnnnnnnnzznnnnnnnnnnnnznzzzzW#WW++###+++#znnxz#W*+i+.;..:z*###zWW%x+,`  ,++W%#####Mz##++*#nW#%####Mzzzzzzzzzznnnnnnnnnnn
//    %%%%WWWWWMMMMMMxi,,,..zxn;::::+nnnnnnnnznznnnnnnnnnnzzzzzzxx+W%xzn###nnxzn#+i;M*i````.*Mzxn#**xn##:`  .+W%#######W#++++#nxMMMxM#nzzzzzzzzzzznnnnnnnnnn
//    %%%WWWWWWMMMMMMxx:,,,,,xn+,,:::nnnnnnnzzznnnnnnznzznzzzzzzzWnn%#%i#zxxxznn+%%z#z#.```.#+#+,,++z##;,,..:+n%########M#*+*++**iiiWWzzzzzzzzzzznnnnnnnnnnn
//    %%%WWWWWMMMMMxxxx#.,,,.*nn,::;:+nnnnzzzzzznzzznnnnnzzzzzzz#z%W%%x#zzxnxzMxii*i*zx,.,,;z**#izz+i#:n,`:i*nW#########%x++*****ii+%#zzzzzzzzzzzzznnnnnnnnn
//    %W%WWWWMMMMMz,,#xx:,,,,.nn;:::::znzzzzzzzzzzzzzzzznzzzzzzzz#M+***###n#nnMWi;;*nz#i;,:*z*i*#z,z,z:++i***zW##########Wz++*+****Wn*zzzzzzzzzzznnznnnnnnnn
//    %WWWWWWMMMMM,..,nx#,,...*n*,,,,.#zzzzzzzzzzzznzznzzzzzzzzzzznM#++z+###nn%%+innz*zz:++##*iii+*+;#+*i;i**#x###########x+++****MW*+zz##zzzzzzzzznnnnnnnnn
//    %WWWWWWMMMxx..,::xx;.....nz,,,,,izzzzzzzzzzzzznzzzzzzzzzzzzz#M%nxnn#+zz%##nzx*z;z##,*n*iiiiii;;:,::.:i*+n###########%n#+**zWW+i#zzzz###zzzzznznnnnnnnn
//    WWWWWWMMMMxx;,:;:+xz;:,..+n:,,,,:zzzzzzzzzzzzzzzzzzzzzzzzzzzzzW%%Mx###M%##Mi:x;:M;xi+z;:::;iii:,;::,,;*+z############WMznW%W*i*#zzzzz###zzzznnnnnnnnnn
//    WWWWMMMMMMxx#,::;;nnz::,,:n*:,,,:#zzzzz##zzzzzzzzzzzzzzzzz##zzzxxzzz+#M###Wz#z++#+#+z#i,::;;:;:,:i;::i*+x#############%#%%x****z#z#zzz#zzzzzznnnnnnnnn
//    WWWWMMMMMMxxx;;;;:;nn+,..,+#:,,,#+zzzzzzzzzzzzzzzzzzzzz#####z###zn++##W######M#i,;*i++z;:;z*,,,,,;*i:i+xW###############W#***i###zzzzz#zzzzzznnnnnnnnn
//    WWWMMMMMxxxxxz:;;:,:zn:...,....*zz#zz#zzzzzzz#zz#zzz#############nn+#n%######n*::ii*+z#+*:::iii;;*##;*nx##############%%M#+**+z#z#zzz#zzzzzzznnnnnnnnn
//    WWMMMMMMxxxxxx;;;,.,:z:`...``.*++#+zzzz#z#########z###########++++Mx#M%######n*;;;;++#n#;;+###xMxM%%z+M%###############%Wn++*###zzzzz#zzzzzzzznnnnnnnn
//    WWMMMMMMxxxxnxn;...,,.`...``.*z#+#+#zzz###z#######z###########+++++x%%%######x#i;i+nMW%W##MMWMxMW%##x#M%##############%#%W#+zz#z#zz####zzzzzzzzznnnnnn
//    WMMMMMxxxz::*nnn;,,,..`..``.*zznxW%zzzzz#*;,+##################+++++#%#######%n*izM%###W++znz**#++W#nnW%################%%MWxzzzz#######zzzzzzzzznnnnn
//    WMMMMxxxxi``,:*nni:......`:#z##n%%%%zz#+;;,,:##################++++++W########Wzn%%#WWWni:,```.;*:x#zx##################%%#%xz#zz#######zzzzzzzznnnnnn
//    WMMMMxxxx+..,:,,*Mi...,.,+nzzzzzW#%WW##i:,.,;#################+#+++++%#########MM#%x#M*:```.,:i;::zWnx###################W%%Wxn#z########zzzzzzznnnnnn
//    WMMMxxxxxn,:;;:,.:;..,i#xM%%%MnnMn**##ii:::i#zz##############+#++++++%#########%W#x#zM::::;;:::::*x%%%####################%#Wxnzz#######zzzzzzzzznnnnn
//    WMMMxxxxnnz**;:,,,.,#WWMxxx%WMx#x#+*;;;;;;i+#################++++++++%###########MMz+#+;:,,,,.::;+W#######################%%%MMz#########zzzzzznznnnnn
//    MMMMxxxxnnnn+*;,:;+#zM%#%Wz*;;;+z*,,,;;;;ii###################++++++#%###########xW#+#+;,,:::,:;#W#####################%W###%%Wzzz#####zzzzzzznnnnnnnn
//    MMMMxxxxnnnnnz*i#W%zxMxx######nn+.,::;;ii*+##################+#+++++#%###########%%###+ii*++i:;#W%####%#####%%%%%%W####%%#####%MMzzzzzzzzzzznnnnnnnnnn
//    MMMxxxxxnnnnnzzz+W%%Wzi;;i*#znzz,..,::;i**+################+++++++++#%#############WxxnzMWxnn+nM%###########WWWxnMW#####%##%##Wnnznzzzzzzzzznzzznnnnnn
//    MMMxxxxxnnnnnn+..:i+;;;;;*znzzni....:::;ii+############+#####+++++++z%###############%%%xxxxxW%%####%%###%%%nx%MM%#%%%%%WW##%#%xnzn#zzz#zzzzzzzzzzznnn
//    MMMxxxxxnnnnnn:,;;:.;z*izznzzz*...``,,,:;;+#################++++#+++z%#################%xnnMW%##########%xnM%Mxn#W%#%%%%%%%##%%xnnzz#######zzzzzzzzznn
//    MMxxxxxxnnnnnn*;;,,,,,*znnzzz+.````..,,::*#########++######+++++++++z%##################%%WW%##%####%#%%M%Wn*;*ixn%%%#%W%%%%#%WnMnz###########zzzzzzzz
//    Mxxxxxnxnnnnnnz*;:..,,,;znzz#,```...,,;;*#########+++++####+++++++++#%#############################%xMMWn#***i*i*i%%WW%#%%%%%#%Mnnz##########z#zzzzzzz
//    xxxxxxnnnnnnnnzz+i:..,,::#z#;````...,;i+###########+++++###+#+++++++z%#####%#####################%nzW%x+ii**++*;;#%#%%%WWWWzxWWWMnz#########zzzzzzzzzz
//    xxxxxxnnnnnnznnzn#i:.,::::##.```..,,;i+#######+##++++++#+#+++##++#++#%####%W####################%Wx%#M#*i****i**ix#####%%%%WWx#WWWxzz######zzzzzzzzzzz
//    xxxxxnnnnnnnnzzzzzzi:,,,,,;;```.,,::;*+#########+++++++++++###+++++++%###%%WW#####################%W::+*++***;i**z%####%##%M;**zWWxnzz####zzzzzzzzzzzz
//    xxxxnxnnnnnnzznnnz#z+,...,,,..,,,,:;*######+#++++++++++++++++++++++++W%%%WWMW#####################W*.:+##+*+i*#xWWWW#######x:iiixWMnz#####zzzzzzzzznnn
//    xxxxnnn#++#zznzzzzz#*;,,,.,,,::;:;*#zz#####+#++++++++++++++++++++++++nW%WxW#######################ni++#+++i+n+#i#:*i#n%M%##n*iii*Mxxnz####z#zzzzzzzznz
//    xxxnnn;i:::::i*#zzzz*i:,,..,.,;;;*+#nn+++++++++++++++++++++++++++++*++M%WxW########%W%###########M**+*#++##+*:`i;i;i;ii:*n#%ni;i**Mnnz######zzzzzzzzzn
//    xxxxn+:i:,,,,:::i+zzn**:,,.,,*i::i+nxx+++++++++++++++++++++++++++++++++MW%%#%%%W%##%xnMMWW%#%%#%n*#####:i+i;:;:;;;;;iii*.,+W#W+,i+znnz#######zzzzzzzzn
//    xxxnn+;i,,.,,:::,:i+zni;:,,,zWM*++*n%x++++++++++++++++++++++++++++***znnnMMxxnxWW###xnnxxnMWM%#M++Wz+#*;:;;ii;::;,:.`,;;.;iix%%ii**nnz########zzzzzzzz
//    xxxnnn*+*:,,,:,,,,::i#i;:,,+%%%z+i#M#%z++++++++++++++++++++++++++*+#+nnnz##+nxxW####MnxxnnxW%#W+in+++*i;i;;**;i*;.:..`.i:**i*#%xz*i*nn#######zzzzzzzzz
//    xxxnnnnnnz+i:;:,...,,,,,,;+%%%nz#z:;%%n++++++++*+++++++++++*++++nWn#**+zz+nzzW%#####Mnnxnnn%##%+;#+*+#+i*iii****i;**+ii:;****;z%%i**+z##########zzzzzz
//    xxxnnnnnnnnz#+i:,,...,..iiW%%MzzMM+:M%W++++++++**++++++++++++++*x%Wxz+*:zn%%%#######%znMnzn%#%x#x+*+++++**:;*i**:i,ii+i;+ii+**in%M**i#########z#zzzzzz
//    xnnnnnnnnnnzzzz+*;:,,..iix%%%znWx##i;%%#+++++++***++++++++++++++z*W%%Wnz%%##########%M#####%#M+#i:**+#+;*i*+*;i;,ii**ii:i*;i****x%n***#########zzzzzzn
//    xxxnnnnnnnzzzzz##+i;:.iW+%WWMxnzzz#ii*Mn***+******++++++++++++++MnxxMxM%%#%##########%######W+**+*+*#***+++***:+***;+;;ii*;****iiMW***+#######zz#zzzzz
//    xxnnnnnnnnz+*;:;i+#;:;*xW%%%z+#zzz+*+::xz**+********+++++++++++WxMxMMnzxx%##########nW######n*;+*:.*++++++++*ii*:iii*;***i;i;i****%%*+i+*#######z##zzzzz*%
%*xnnnnnnnnzzii::;::i;inxn###M++#zzz*++;;*n++********++++++++++*#%nMMWx+##W##########*%%*W#####Wz+*#ii*++++**i**:;i;i*i.;,:.;**:i*i**inx***+########zzzzzz
//    xnnnnnnnnn+i;:,,,,:iM###%###++zzz#*z*;iiMx+**********++*++++++xMxMMWi+nM###########%*%%*#####x##**i*;ii****+*ii***%%*.::;*i,.`:;*i:**+***%%*+++*########zzzzzz*
    %*nnnnnnnnnz#ii;:,,,:%######W**###z#*zi;;*nx**********+***+++*++%xznMM+#%############*%%*%####%##+z;;**ii**i*iii::.``.:*::,;;,;*:,****:MM***+#########zzzz
//        nnnnnnnnnzzzz*i;;;n#######n**+#z+#+z;;;ixW+***************+**#%MzMMx++%############%######z+zz++#i;;i**++i;i;;,;,;,;iii;i*i;*i;**+*zW**++########zzzzz
//        nnnnnnnzzzzzz#zz#+%######%+**+#z#+##;;;i#W#******************;%%xx+i:*%%*############%i####M##++#****+*#iiiii;;+*iiix*:iiii:**i*iii*+*%%*n***#########zzzz**%%
        %*nnnnnnnzzzzzzz###n#######Wi**+#+niz*;:;i+M+******************+%Wnz+WW%#############%#####W#**+#+**#+*:.::,,;iii;ii:::;i;:,;i:;+*i**ixW***+######z#zzzz
        nnnnnnnzzzzzzz###M#######ni**+#*+*ni;;;*xM**+**************+#n%#Wn#M%##############W*###%n;+*+#i*i;ii:.i.`.ii::,,i,,;:i;,:;**;***++*z%#**++######zzzzz
        nnnnnnzzzzzzzz###W########**++#+;++;;;iM#%x+*+***********zzz#M%#%z*#M##############n####W+*#z+#:iii:++*ii*i*:`,`,:,:,:;:,;ii*;+***+*i%M***########zzzz
        nnnnnnnzzzzzzzz##W##%MnMz*i*+#**;i#+;;x%%%%%n**********#+*nxxzM#Wi+W%#############Wxz###x+zz++zi;::`ii*i::;i;;``:``,,,,:i;:+*i******ix%n*++########zzz
        nnnnnzzzzzzzzz###M%%z+xz+*i***;::;zn;+%W#zxW%Mz******+##**zxzzW#n#x%##############xWn###z+*+*i;i`;:`;;*;..:,;,`::,.`:,,,;i:i***+****iM#W**+#######zzzz
        nnnnnzzzzzzz######WxzMnz#*i**i:::ii#*%%*W*iiii+;nWn+*z#*zzz++xMM%%znx##############%xWM#Wx#;ii*i*;,i;;***:.:**i:i:,:;;;;:++*iii****++***%%*W***########zzz*%*%
        %*nnnnzzzzzzzz#####+*xWxnnz***;;:i+###nW*i*;*:i*;*#zWMn+#n##z#xxxWzz%##############M%MMM*ii*;i;;*iii;****iii**ii;ii+*ii*;;;.:*ii+******;x#zi*#######zzzz
        nnzzzzzzzzz####+++`iMWWxz++ii+ii*;*zWM::iii;;ii*iix#Wn##n*nnxxMz#n%##############x%M+;:;i:;*******++*****+#+*+i+*;*;;:;;:;i+*******+*;x#W:*#######zzzz
        nnnzzzzzz#######++,.:xWnn+*+#+;;;:;#W+i;*;:iii:i**ix%%z#*+zznxM++x##############%MWz***+**++**;*ii;*iii:,;;i*i+*;ii:i*ii:****ii+*****x%##z#+######zzzz
        nnnzzzzzzz#####+++;,.,xMn#+nnn#++:inxi*:ii*iiiii*+*+*xWWzzzz#Wx+z%##############%M###++*ii;iii;;;,,,:;;:.,.,;,ii;;;:i**;+****;,i*+*:z###*%%*++###zzzzzzz*%
           %*nnnnzzzzz#z###++++*,,.#Wxznxnz#++;iW+i*iii+ii:.:i*+*ii*#+**nx%x+x###############%##+#z#+*ii;;;:i;::`.:;.,***;:;**ii:i**+**:i**iiii*iW###%n**####zzzzzz*%
           %*nnnznzzzz#z####++++:,.+x%xxx##i;**+%iii:;***;,,ii*****i;ii;i*nx+%###############W+##+++*+*ii;ii+i;;..;;.`,ii;;:;;*+ii;:*n+;i.:*****W#####*%%*+###zzzzzzz
//            nnnnnzzzzz#####++++:,`*##%Mnnn#*i*nWi. `;iii:`;ii;*+***;***;*+#z##############%n#+*+++##++***i****;:i;,:`,:;ii*:,;*ii;,i+*i;;*+*i*%%*######%#+###zzzzzzz*%*%*%*@